.product {
  flex: 1 290px;
  max-width: 350px;
  height: 502px;
  border: 2px solid #ecedf5;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: "relative";
  box-sizing: content-box;
}

.product:hover {
  border: 2px solid #61d5df;
}

.product__hover {
  position: relative;
  width: 100%;
  height: 0;
}

.checkbox__container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkbox__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 15px;
}

.checkbox__container:hover input ~ .checkmark {
  background-color: #fff;
  border: 2px solid #ccc;
}

.checkbox__container input:checked ~ .checkmark {
  background-color: #61d5df;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product__hover--active {
  opacity: 1 !important;
  display: "block" !important;
}

.product--active {
  border: 2px solid #61d5df;
}

.product__title--wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product__image {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product__image img {
  height: 320px;
  width: 292px;
}
.product__title {
  vertical-align: baseline;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  color: #3b3b3b;
  padding-left: 20px;
}

.product__bottom {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 10px;
}

.product__button {
  position: absolute !important;
  margin-left: 155px !important;
}
.product__button--black {
  color: #000;
  text-decoration: none;
}
.product__supplier--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 0 20px;
}

.product__supplier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__button--supplier {
  background: none;
  font-size: 14px;
  color: #64c7d0;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.product__price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.14px;
  opacity: 0.7;
  list-style: none;
  color: #808080;
  margin: 0;
}

.price__item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.price__item--blue {
  color: #64c7d0;
}
