.header {
  position: fixed;
  z-index: 1000;
  background-color: #f8f9fa;
  width: 83%;
  margin-left: 340px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 70px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
}

.header__select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.clear {
  display: none;
  color: #fff;
}
