.form__wrapper {
  background-image: url("../assets/auth-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #98a3c7;
  opacity: 0.92 !important;
  z-index: 1;
}

.form__dialog {
  width: min(420px, 95%);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 30px 0 30px 0;
  z-index: 2;
  box-shadow: 0 0 12px #6b6b6b;
}
.form__dialog--register {
  width: min(460px, 95%);
}
.form__dialog--login {
  height: 480px;
}

.form__header {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: row;
  gap: 95px;
}
.form__header--login {
  gap: 60px;
}

.form__title {
  font-size: 18px;
  color: #171717;
  text-transform: capitalize;
}
.form__logo img {
  width: 51px;
  height: 30px;
}

.register__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login__forgot-password {
  font-family: SegoeUI;
  font-size: 14px;
  color: rgba(59, 59, 59, 0.35);
  text-decoration: none;
  cursor: pointer;
}

.social__title {
  font-family: SegoeUI;
  font-size: 14px;
  color: rgba(59, 59, 59, 0.35);
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

.fa-facebook-f {
  color: #6485c3;
  font-size: 18px;
  cursor: pointer;
}

.social__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

.login-to-signUp {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  color: rgba(59, 59, 59, 0.72);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.login__info {
  color: rgba(59, 59, 59, 0.72);
}
