.user {
  display: flex;
  width: 97%;
  margin-left: 3%;
}

.user__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 40px;
  border-bottom: 2px solid #dde3ee;
  height: 74px;
}

.user__heading--right {
  display: flex;
  gap: 70px;
  align-items: center;
}
