.menu {
  position: fixed;
  width: 53px;
}

.menu__logo {
  height: 20px;
  width: 39px;
  border-bottom: 2px solid #dde3ee;
  padding: 20px 5px;
}

.menu ul {
  list-style: none;
}

.menu__nav {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-left: 0;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding-top: 10px;
}

.menu__item--circle {
  border: 2px solid #61d5df;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.user__image {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.fas {
  font-size: 18px;
  color: #49547d;
  cursor: pointer;
}

.fas:hover {
  color: #61d5df;
}

.fas:active {
  color: #61d5df;
}
